body {
  margin: 100px;
  background-image: url("./calculator-background.jpeg");
  margin-top: 200px;
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 200px;
}


.container-calculator {
  background: #33FFE3;
  height: 800px;
  width: 450px;
  border-style: solid;
  border: 10mm ridge rgba(211, 220, 50, .6);
  border-radius: 20px;

}

.line-calculator {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  width: 390px;
  margin-top: 70px;
  border-style: solid;
  border: 8mm ridge rgba(211, 220, 50, .6);
  display: block;
}

.container-calculator > input {
  background: #848087;
  font-size: 20px;
  text-align: right;
  color: white;
  height: 30px;
  width: 360px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 50px;
  border: 5px;
  border-style: solid;
  border: 4mm ridge rgba(47, 15, 31, 1);
}

.numbers {
  background: #848087;
  text-align: center;
  height: 70px;
  width: 70px;
  margin-left: 30px;
  margin-top: 25px;
  border: 5px;
  display: inline-block;
  border: 2px;
  border-style: solid;
  border: 1mm ridge rgba(47, 15, 31, 1);
  border-radius: 10px;
}

.numbers > button {
  color: black;
  background-color: white;
  margin-top: 5px;
  display:  table-cell;
  width: 50%;
  height: 60px;
  padding-top: 20;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 30px;
}

.equal-div {
  background: #848087;
  text-align: center;
  height: 70px;
  width: 190px;
  margin-left: 25px;
  border: 5px;
  display: inline-block;
  border: 2px;
  border-style: solid;
  border: 1mm ridge rgba(47, 15, 31, 1);
  border-radius: 10px;
}



